<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      type="text/css" />
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link href="https://fonts.googleapis.com/css?family=Faster+One&display=swap" rel="stylesheet">
   <script src="https://code.jquery.com/jquery.js"></script>
   <script src="https://kit.fontawesome.com/7b4d2fea99.js" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="/public/assets/css/burger_style.css" type="text/css" />
   <script src="/public/assets/js/burgers.js"></script>
   <title>MVC Burgers!</title>
</head>

   <body>
      <h1 class="text-center">Eat-Da-Burger!</h1>
      <div style="text-align: center;" class="container mx-auto">
         <div class="mx-auto"><i class="fas fa-hamburger fa-5x"></i></div>
      </div>
      {{{ body }}}
      
   </body>

</html>