<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
         type="text/css" />
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="https://code.jquery.com/jquery.js"></script>
      <link href="https://fonts.googleapis.com/css?family=Faster+One&display=swap" rel="stylesheet">
      <script src="https://kit.fontawesome.com/7b4d2fea99.js" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="assets/css/burger_style.css" type="text/css"/>
      <script src="assets/js/burgers.js"></script>
      <title>MVC Burgers!</title>
   </head>

   <body>
      {{{ body }}}
      
   </body>

</html>