<div class="container mx-auto mt-3 pt-3" style="max-width: 720px;">
   <div class="row">
      <div class="col-6">
         <ol>
            {{#each burger}}
               {{#unless devoured}}
                  <li>
                     {{this.burger_name}}
                     <button class="change-devoured" data-id="{{this.burger_id}}" data-devoured="{{this.devoured}}">
                        Devour!
                     </button>

                  </li>
               {{/unless}}
            {{/each}}
         </ol>
      </div>
      <div class="col-6">
         <ul>
           {{#each burger}}
               {{#if devoured}}
                  <li>
                     {{this.burger_name}}
                  </li>
               {{/if}}
            {{/each}}
         </ul>
      </div>
   </div>
</div>

<form class="create-form text-center">
   <h3>Burger Name:</h3>
   <div class="form-group">
      <label for="burger"></label>
      <textarea id="burger" name="burger_name" placeholder="Write something.." style="height:100px; width:300px;"></textarea>
   </div>

   <button type="submit">Add Burger</button>
   <p>Enter a burger you want to eat and click the Add Burger button</p>
</form>